<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>/components/Eventos.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListarTipoEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.tipoevento.ListarTipoEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.tipoevento.CadastrarTipoEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.evento.ListarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.evento.ExcluirEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarConvidadoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.convidado.ListarConvidadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirConvidadoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.convidado.ExcluirConvidadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.evento.SalvarEventoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarConvidadoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.convidado.SalvarConvidadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTipoEventoServlet</servlet-name>
        <servlet-class>com.newevent.Controller.tipoevento.ExcluirTipoEventoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarTipoEventoServlet</servlet-name>
        <url-pattern>/ListarTipoEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoEventoServlet</servlet-name>
        <url-pattern>/CadastrarTipoEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEventoServlet</servlet-name>
        <url-pattern>/ListarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEventoServlet</servlet-name>
        <url-pattern>/ExcluirEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarConvidadoServlet</servlet-name>
        <url-pattern>/ListarConvidadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirConvidadoServlet</servlet-name>
        <url-pattern>/ExcluirConvidadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarEventoServlet</servlet-name>
        <url-pattern>/SalvarEventoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarConvidadoServlet</servlet-name>
        <url-pattern>/SalvarConvidadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTipoEventoServlet</servlet-name>
        <url-pattern>/ExcluirTipoEventoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
